body {
    min-width: 400px;
}

img.icon {
    display: inline-block;
    vertical-align: bottom;
    height: 1em;
}

#title {
    line-height: 1;
}

p {
    margin-bottom: 0.25em;
}

.accordion-button-muted {
    color: #888;
}

.accordion-button-muted:not(.collapsed) {
    color: #325172;
}

#min-delay {
    height: 100%;
}

.tt-big > .tooltip-inner {
    max-width: 100% !important;
}

.form-control {
    color: #fff;
    background-color: #303030;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    flex-basis: 0;
}